# Python
*.py[cod]
*.pyc
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Vercel
.vercel/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# PyCharm specific files
*.iml
*.ipr

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Compiled files
*.o
*.pyc
*.pyo
*.pyd

# Static files
static/

# drf_yasg
swagger/

# CKEditor
ckeditor/
